i.mce-i-icon {
    font: 400 20px/1 dashicons;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}

.swp_scode_btn{
  text-align: center;
  margin: 20px 0px;
}
.swp_scode_btn a{
  color: #fff !important;
  padding: 10px 30px
}
.swp_scode_btn a:hover{
  text-decoration: none;
  opacity:.50;
}