/* ## Base
--------------------------------------------- */

* {
	outline: none !important;
}

strong, b {
	font-weight: 700;
}

em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

body {
	width: 100%;
	font-family: $textfont;
	color: $textcolor;
	line-height: 1;
	margin: 0; 
	padding: 0; 
	font-size: $textsize;
	background: #FFFFFF; 
	overflow-x: hidden;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
iframe {
	display: block;
	line-height: 0;
	max-width: 100%;
	height: auto;
}

// Lazy loading animation
img.lazy {
    transition: all 0.3s ease-out 0.5s;
    opacity: 0;
}

.responsive-video-wrapper {
	img.lazy {
		transition: all 0.3s ease-out 0s;
	}
}

img.loaded {
    opacity: 1;
}

// Image with bg properties
.bg-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 0;
	object-fit: cover;
}

.responsive-iframe-wrapper {
    position: relative;
    padding: 0 0 56.25% 0; /* 16:9 */
    height: 0;

    img,
    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	display: block;
    }
}


.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.alignleft,
.float-left {
	float: left;
}

.alignright,
.float-right {
	float: right;
}

::selection {
	color: #FFFFFF;
}

::-moz-selection {
	color: #FFFFFF;
}


/* ## Clear
--------------------------------------------- */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { 
	display: inline-block; 
}

* html .clearfix {
	height: 1%; 
}

.clearfix { 
	display: block; 
}

.clear {
	clear: both;
}

/* ## Desktop / Mob-only
--------------------------------------------- */

.mob-only {
	display: none;

	@include max-width-1023 {
		display: block;
	}
}

.desktop-only {
	display: block;

	@include max-width-1023 {
		display: none;
	}
}