/* ## Buttons
--------------------------------------------- */

.button,
input[type="submit"],
button[type="submit"] {
	cursor: pointer;
	@include default-transition;

	&.full-width {
		width: 100%;
	}

	&:hover {
	}

	@include max-width-640 {
		width: 100%;
	}
}

input[type="submit"],
button[type="submit"] {
}


.sm-icons {
	li {
		&:before {
			display: none;
		}

		&:last-child {
		}

		a {
			&:hover {

			}
		}
	}
}

.sm-share-icons {

	li {		
		&:last-child {
		}

		&:before {
			display: none;
		}

		a {
			&:hover {
				
			}
		}
	}
}