/* ## Forms styling
--------------------------------------------- */

label {
	font-weight: 400;
	padding-bottom: 5px;
	display: block;
}

input[type="text"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="phone"],
input[type="url"],
select,
textarea {
	display: block;
	position: relative;
	width: 100%;

	&:focus {
	}
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] { 

	& + label,
	& + span,
	& + td {

		&:before {
		}
	}
}

input[type="checkbox"] {

	&:checked + label,
	&:checked + span,
	&:checked + td {
		&:after {
		}
	}
}

input[type="radio"] {
	& + label,
	& + span,
	& + td {
		&:before {
			border-radius: 50%;
		}
	}

	&:checked + label,
	&:checked + span,
	&:checked + td {
		&:after {
		}
	}
}


.ginput_container_select,
.select-wrap {
	display: block;
	position: relative;

	&:before {
		font-family: $fontawesome;
		color: $textcolor;
		content: "\f107";
		font-weight: 900;
		position: absolute;
		right: 40px;
		top: 10px;
	}
}

textarea {
	height: 130px;
}

fieldset {

	legend {
	}
}

.gfield_consent_label {
	display: inline-block !important;
}

::-webkit-input-placeholder	{ 
	opacity: 0.5; 
}

:-moz-placeholder { 
	opacity: 0.5; 
}

::-moz-placeholder { 
	opacity: 0.5; 
}

:-ms-input- { 
	opacity: 0.5;  
}


/* ## Gravity forms addons
--------------------------------------------- */

.gfield_error,
.woocommerce-invalid {

	input[type="text"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="date"],
	input[type="phone"],
	input[type="url"],
	select,
	textarea {
		border-color: red;
	}
}

.gform_wrapper {
	position: relative;

	ul {
		margin: 0;
		padding: 0;

		.ginput_complex:after {
			@include clearfix;
		}

		li {
			margin: 0;
			padding: 0 0 20px 0;
			
			&:before {
				display: none;
			}

			&.hidden_label {
				> label {
					display: none;
				}
			}

			.gf_name_has_2 {
				> span {
					width: 50%;
					display: block;
					float: left;

					&:first-child {
						padding-right: 10px;
					}

					&:last-child {
						padding-left: 10px;
					}
				}

				&:after {
					@include clearfix;
				}

				@include max-width-640 {
					> span {
						float: none;
						width: 100%;
						padding-left: 0 !important;
						padding-right: 0 !important;
					}
				}

			}
		}

	}
}

.gform_footer {

}

body img.gform_ajax_spinner {
	padding: 40px;
	height: auto;
	width: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	display: block;
	background: #FFF;
	z-index: 1000;
	transform: translate(-50%, -50%);
	padding-top: 40px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

.gfield_required {
	display: inline-block;
	margin-left: 5px;
}

.validation_error {
	display: block;
	border-radius: 26px;
	border: 1px solid red;
	color: red;
	padding: 20px 40px;
	margin: 0 0 20px 0;
	line-height: 1.4;
}

.validation_message {
	padding: 5px 40px 0 40px;
	font-style: italic;
	color: red;
	font-size: 0.9em;
	line-height: 1.4;
}