/* ## Mixins
--------------------------------------------- */
@mixin max-width-480 {
	@media only screen and (max-width: 480px) { @content; }
}

@mixin max-width-640 {
	@media only screen and (max-width: 640px) { @content; }
}

@mixin max-width-750 {
	@media only screen and (max-width: 750px) { @content; }
}

@mixin max-width-1023 {
	@media only screen and (max-width: 1023px) { @content; }
}

@mixin max-width-1280 {
	@media only screen and (max-width: 1280px) { @content; }
}

@mixin max-width-1440 {
	@media only screen and (max-width: 1440px) { @content; }
}

@mixin default-transition {
	transition: all 0.3s ease-out 0s;
}

@mixin center-position {
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%, -50%);
	display: block;
}

@mixin clearfix {
	display: block;
	height: 0;
	width: 0;
	visibility: hidden;
	content: "";
	clear: both;
}


/* ## Colors
--------------------------------------------- */


/* ## Variables
--------------------------------------------- */

$textfont 			: 'Arial';
$headingfont		: 'Arial';
$textsize 			: 1em;
$textcolor 			: #000;
$border-radius 		: 4px;
$box-shadow 		: 0px 4px 4px 0px rgba(0,0,0,0.2);
$fontawesome		: 'Font Awesome 5 Free';
