/* ## Text
--------------------------------------------- */

h1, .h1 {
}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
}


hr {
}

a {
	text-decoration: underline;
	color: $textcolor;

	&:hover {
		text-decoration: none;
	}
}


p,
label,
address,
td,
th {
}

.smaller {
	font-size: 0.8em;
}

.bigger {
	font-size: 1.2em;
}


ul,
ol {
	display: block;
	margin: 0;
	padding: 0 0 40px 0;

	li {
		display: block;
		position: relative;
		font-family: $textfont;
		color: $textcolor;
		line-height: 2;
		margin: 0;
		padding: 0 0 0 20px;
		
		&:before {
			position: absolute;
			left: 0;
		}
	}

}

ul {
	li {
		&:before {
			display: block;
			height: 6px;
			width: 6px;
			background: $textcolor;
			border-radius: 50%;
			position: absolute;
			top: 14px;
			left: 0;
			content: "";
		}
	}
}


ol {
	li {
		counter-increment: step-counter;
		padding-left: 25px;

		&:before {
			content: counter(step-counter) ". ";
			font-weight: 700;
			position: absolute;
			left: 0;
		}
	}
}


blockquote {
	
	p {

		&:before,
		&:after {
		}
	}
}


table {
	margin: 0 0 40px 0;
	width: 100%;
}

tbody,
thead,
tfoot {

}

tr {
}

td, th {
}



// White text class / defines
.white-text {
	h1, .h1,
	h2, .h2,
	h3, .h3,
	ul li,
	ol li,
	ul li:before,
	ol li:before,
	label,
	p,
	span,
	i,
	a {
		color: #FFF;
	}

	ul li:before {
		background: #FFF;
	}

	ol li:before {
		color: #FFF;
	}
}