/* ## WP defaults
--------------------------------------------- */

.gallery {
	position: relative;
	padding: 0 0 20px 0;
	margin: 0 -10px;

	li {
		padding: 0;
		margin: 0;

		&:before {
			display: none;
		}

	}

	a {
		display: block;
		line-height: 0;
		position: relative;

		img {
			width: 100%;
			height: auto;
		}
	}

	.gallery-item {
		display: block;
		position: relative;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		margin: 0;
		padding: 0 10px 20px 10px;
	}
}

.gallery.gallery-columns-2 {
	column-count: 2;
}

.gallery.gallery-columns-3 {
	column-count: 3;
}

.gallery.gallery-columns-4 {
	column-count: 4;

	@include max-width-640 {
		column-count: 2;
	}
}